*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
    gap : 15px;
    padding: 5px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
}
.logo-image{
    width: 50px;
    height: auto;
    
}
.logo .site-name{
    color: #fff;
    font-family: cursive, 'Segoe UI', Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
}
.navbar{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding: 15px;
    background-color: black ;
}
.navbar-div{
    display: flex;
    align-items: center;
    gap: 30px;
    font-display: auto;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
.navbar-div a{
    color: white;
    font-size: 18px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar-div li a:hover{
    color: darkorange;
}